<div class="container">
    <div class="titulo">
        <p>Mi primera aplicación SPA</p>
    </div>
    <h1> <b>Nombre del país:</b> Chile</h1>
    <div>
        <img src="https://drive.google.com/uc?export=view&id=18KNjKG6qINne9JWPYLj0TpCiMD_jAKny&rl" alt="bandera_chile"
            width="400">
    </div>
    <span>Datos generales</span>
    <p>
        Chile es un país largo y angosto que se extiende por el borde occidental de Sudamérica, con más de 6,000 km de
        costa en el océano Pacífico. Santiago, su capital, se ubica en un valle rodeado de los Andes y la cordillera de
        la Costa. En la Plaza de Armas de la ciudad, bordeada de palmeras, se encuentra la catedral neoclásica y el
        Museo de Historia Nacional. 
        <br><br>
        El enorme Parque Metropolitano cuenta con piscinas, un jardín botánico y un
        zoológico.

    </p>
</div>