.titulo p{
    margin-top: 15px;
    background: rgb(81, 81, 255);
    color: white;
    padding: 10px 10px;
}

.container h1{
    margin: 10px 0;
}

.container span{
    font-size: 19px;
    font-weight: bold;
    padding: 12px 0;
}

.container img{
    padding: 10px 0;
}