<div class="container">
    <div class="titulo">
        <p>Mi primera aplicación SPA</p>
    </div>
    <h1> <b>Nombre del país:</b> Uruguay</h1>
    <div>
        <img src="https://drive.google.com/uc?export=view&id=12etY8u15NRweNLLkgtbNBgHrTgjR1PqE&rl" alt="bandera_uruguay"
            width="450">
    </div>
    <span>Datos generales</span>
    <p>
        Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital,
        Montevideo, se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española. Esta lleva
        a la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes.
        <br><br>
        La Rambla es un
        paseo costero con puestos de pescados, muelles y parques.

    </p>
</div>