<div class="container">
    <div class="titulo">
        <p>Mi primera aplicación SPA</p>
    </div>
    <h1> <b>Nombre del país:</b> Perú</h1>
    <div>
        <img src="https://drive.google.com/uc?export=view&id=1f8FKdNIs2-s3gNDhO6gGi0xp-ee_SFqz&rl" alt="bandera_peru" width="400">
    </div>
    <span>Datos generales</span>
    <p>
        Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua
        ciudad inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino
        del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos.
        <br><br>
        El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada
        gastronomía y vastas reservas naturales.

    </p>
</div>